<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cooking.repository.ProductMapper">
	<!-- <resultMap type="product" id="result"> <id property="productID" column="ProductID"/> 
		<result property="productName" column="ProductName"/> <result property="genre" 
		column="Genre"/> <result property="maker" column="Maker"/> <result property="sellingPrice" 
		column="SellingPrice"/> <result property="productDetail" column="ProductDetail"/> 
		<result property="productImg" column="ProductImg" jdbcType="BLOB" /> <result 
		property="deleteFlg" column="DeleteFlg"/> <result property="insertDate" column="InsertDate"/> 
		<result property="updateDate" column="UpdateDate"/> </resultMap> -->

	<select id="getProductInfoList"
		resultType="cooking.entity.Product">
		SELECT
		ProductID,
		Genre,
		Maker,
		ProductName,
		SellingPrice,
		ProductImg
		FROM
		ProductInfo
		WHERE
		DeleteFlg = '0'
		ORDER BY
		ProductID ASC
	</select>

	<insert id="createProduct"
		parameterType="cooking.entity.Product" keyProperty="productID"
		useGeneratedKeys="true">
		INSERT INTO ProductInfo (
		ProductName,
		Genre,
		Maker,
		SellingPrice,
		ProductDetail,
		ProductImg,
		InsertDate,
		UpdateDate
		) VALUES (
		#{productName},
		#{genre},
		#{maker},
		#{sellingPrice},
		#{productDetail},
		#{productImg},
		CURRENT_TIMESTAMP(),
		CURRENT_TIMESTAMP()
		)
	</insert>

	<update id="deleteProduct">
		UPDATE
		ProductInfo
		SET
		DeleteFlg = '1',
		UpdateDate = CURRENT_TIMESTAMP()
		WHERE
		ProductID = #{productID}
		AND UpdateDate <![CDATA[ = ]]>
		#{updateDate}
	</update>

	<select id="findById" parameterType="int"
		resultType="cooking.entity.Product">
		SELECT
		ProductID,
		ProductName,
		Genre,
		Maker,
		SellingPrice,
		ProductDetail,
		ProductImg,
		UpdateDate
		FROM
		ProductInfo
		WHERE
		ProductID = #{productID}
		AND DeleteFlg = '0'
	</select>

	<update id="updateProduct"
		parameterType="cooking.entity.Product">
		UPDATE
		ProductInfo
		SET
		ProductName = #{productName},
		Genre = #{genre},
		Maker = #{maker},
		SellingPrice = #{sellingPrice},
		ProductDetail = #{productDetail},
		ProductImg = #{productImg},
		UpdateDate = CURRENT_TIMESTAMP()
		WHERE
		ProductID = #{productID}
		AND UpdateDate <![CDATA[ = ]]>
		#{updateDate}
	</update>
</mapper>