<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cooking.repository.RegisterUserMapper">
	<insert id="insertUserInfo"
		parameterType="cooking.entity.User">
		INSERT INTO Users (
			Username,
			Password
		) VALUES (
			#{username},
			#{password}
		)
		<selectKey resultType="Long" keyProperty="userId" order="AFTER">
			select @@IDENTITY
 		</selectKey>
	</insert>
	<insert id="insertUserAuthorityInfo">
		INSERT INTO Users_Authorities (
			UserId,
			RoleId
		) VALUES (
			#{userId},
			#{a.roleId}
		)
	</insert>
	<update id="updateUserInfo"
		parameterType="cooking.entity.User">
		UPDATE
			Users
		SET
			Username = #{username},
			Password = #{password}
		WHERE
			UserId = #{userId}
	</update>
	<update id="updateUserAuthorityInfo">
		INSERT INTO Users_Authorities (
			UserId,
			RoleId
		) SELECT * FROM (
			SELECT
				#{userId},
				#{a.roleId}
		) AS tmp
		WHERE NOT EXISTS (
			SELECT * FROM Users_Authorities WHERE  UserId=#{userId} AND RoleId=#{a.roleId}
		) LIMIT 1
	</update>
	<delete id="deleteUserAuthorityInfo">
		DELETE FROM Users_Authorities
		WHERE
			UserId = #{userId}
	</delete>
</mapper>