<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/InventoryControl.css}">
<title>商品情報登録</title>
</head>
<body>
	<h3>商品情報管理システム</h3>
	<h2>商品情報登録</h2>
	<form th:action="@{/createProduct}" method="post" th:object="${product}">
		<input class="submit-btn" type="submit" value="登録">
		<div class="form-input">
			<div class="form-input-box">
				<label for="genre">ジャンル：</label>
				<select name="genre" id="genre">
					<option th:value="0" th:text="指定なし">
					<option th:value="1" th:text="家電">
					<option th:value="2" th:text="家具">
					<option th:value="3" th:text="食品">
					<option th:value="4" th:text="ファッション">
					<option th:value="5" th:text="書籍">
				</select>
			</div>
			<div class="form-input-box">
				<label for="maker">メーカー：</label>
				<input type="text" name="maker" id="maker">
			</div>
			<div class="form-input-box">
				<label for="productName">　商品名：</label>
				<input type="text" name="productName" id="productName">
			</div>
			<div class="form-input-box">
				<label for="sellingPrice">販売価格：</label>
				<input type="text" name="sellingPrice" class="form-input-box-price" id="sellingPrice">
			</div>
			<div class="form-input-box">
				<label for="productDetail">商品説明：</label>
				<textarea name="productDetail" id="productDetail"></textarea>
			</div>
		</div>
	</form>
</body>
</html>