<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/InventoryControl.css}">
<title>商品情報登録</title>
</head>
<body>
  <h3>商品情報管理システム</h3>
  <h2>商品情報登録</h2>
  <form th:action="@{/product-registration}" method="post" th:object="${product}" enctype="multipart/form-data">
    <div class="error-message">
      <ul th:if="${#fields.hasAnyErrors()}">
        <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
      </ul>
    </div>
    <div class="btn">
      <input class="submit-btn" type="submit" value="登録" onclick="return confirm('商品情報を登録しますか？');">
    </div>
    <div class="form-input">
      <div class="form-input-box">
        <label for="genre">ジャンル：</label>
        <select name="genre" id="genre">
          <option th:each="genre : ${genreList}" th:selected="${product.genre == genre.value}" 
            th:value="${genre.value}" th:text="${genre.key}" />
        </select>
      </div>
      <div class="form-input-box">
        <label for="maker">メーカー：</label>
        <input type="text" name="maker" id="maker" th:value="${product.maker}">
      </div>
      <div class="form-input-box">
        <label for="productName">　商品名：</label>
        <input type="text" name="productName" id="productName" th:value="${product.productName}">
      </div>
      <div class="form-input-box">
        <label for="sellingPrice">販売価格：</label>
        <input type="text" name="sellingPrice" class="form-input-box-price" id="sellingPrice"
          th:value="${product.sellingPrice}">
      </div>
      <div class="form-input-box">
        <label for="productDetail">商品説明：</label>
        <textarea name="productDetail" id="productDetail" th:field="${product.productDetail}"></textarea>
      </div>
      <div class="form-file">
        <label for="productImg">商品画像：</label>
        <input type="file" name=multipartFile id="productImg">
        <div th:if="${product.productImg}">
          <input type="hidden" name="productImg" th:value="${product.base64Img}"><br>
          <img class="form-file-img" th:src="'data:image/png;base64,' + ${product.base64Img}">
        </div>
      </div>
    </div>
  </form>
  <form th:action="@{/product-list}" method="get">
    <div class="btn">
      <input type="submit" value="戻る" class="btn-goback-btn"
        onclick="return confirm('入力内容は保存されません。前画面に戻りますか？');">
    </div>
  </form>
</body>
</html>