<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/inventorycontrol.css}">
<title>商品情報一覧</title>
</head>
<body>
  <h3>商品情報管理システム</h3>
  <h2>商品情報一覧</h2>
  <div class="messages">
    <p th:text="${message}">
  </div>
  <button type="button" class="submit-btn" onclick="window.location.href='product-registration'">登録</button>
  <div class="list-count">商品情報件数 <span th:text="${listProducts.size()}"></span> 件</div>
  <table border="1">
    <tr>
      <th class="table-header table-header-img">イメージ</th>
      <th class="table-header table-header-id">商品ID</th>
      <th class="table-header table-header-genre">ジャンル</th>
      <th class="table-header table-header-maker">メーカー</th>
      <th class="table-header table-header-name">商品名</th>
      <th class="table-header table-header-price">販売価格</th>
      <th class="table-header table-header-btn">更新</th>
    </tr>
    <tr th:each="product : ${listProducts}">
      <td class="table-center">
        <div th:switch="true">
          <div th:case="${product.productImg} == null">
            <img class="no-img" th:src="@{/images/no_image.png}">
          </div>
          <div th:case="${product.stringImg} !=''">
            <img class="table-center-img" th:src="'data:image/png;base64,' + ${product.stringImg}">
          </div>
          <div th:case="${product.stringImg} ==''">
            <img class="no-img" th:src="@{/images/no_image.png}">
          </div>
        </div>
      </td>
      <td class="table-right" th:text="${product.productID}" />
      <td class="table-left" th:text="${T(cooking.enums.GenreEnum).getValueByKey(product.genre)}" />
      <td class="table-left" th:text="${product.maker}" />
      <td class="table-left" th:text="${product.productName}" />
      <td class="table-right" th:text="${product.sellingPrice}" />
      <td class="table-center">
        <form th:action="@{/product-update}" th:method="post">
          <input type="hidden" name="productID" th:value="${product.productID}">
          <input class="update-btn" type="submit" value="更新">
        </form>
      </td>
    </tr>
  </table>
</body>
</html>