<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/InventoryControl.css}">
<title>商品情報更新</title>
</head>
<body>
  <h3>商品情報管理システム</h3>
  <h2>商品情報更新</h2>
  <form th:action="@{/product-update}" method="post" th:object="${product}" enctype="multipart/form-data">
    <div class="error-message">
      <ul th:if="${#fields.hasAnyErrors()}">
        <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
      </ul>
      <div th:if="${message != null}">
        <p th:text="${message}">
      </div>
    </div>
    <div class="btn">
      <input type="hidden" name="productID" th:value="${product.productID}">
      <input class="btn-update-btn" type="submit" value="更新" onclick="return confirm('更新してよろしいですか？');">
      <button type="button" class="btn-goback-btn" onclick="window.location.href='product-list'">戻る</button>
    </div>
    <div class="form-input">
      <div class="form-item">
        <div>　商品ID：</div>
        <div class="form-item-id" th:text="${product.productID}"></div>
      </div>
      <div class="form-input-box">
        <label for="genre">ジャンル：</label>
        <select name="genre" id="genre">
          <option th:each="genre : ${genreList}" th:selected="${product.genre == genre.value}" th:value="${genre.value}" th:text="${genre.key}" />
        </select>
      </div>
      <div class="form-input-box">
        <label for="maker">メーカー：</label>
        <input type="text" name="maker" th:value="${product.maker}" id="maker">
      </div>
      <div class="form-input-box">
        <label for="ProductName">　商品名：</label>
        <input type="text" name="productName" th:value="${product.productName}" id="ProductName">
      </div>
      <div class="form-input-box">
        <label for="sellingPrice">販売価格：</label>
        <input type="text" name="sellingPrice" class="form-input-box-price" th:value="${product.sellingPrice}" id="sellingPrice">
      </div>
      <div class="form-input-box">
        <label for="productDetail">商品説明：</label>
        <textarea name="productDetail" id="productDetail" th:field="${product.productDetail}"></textarea>
      </div>
      <div class="form-file">
        <label for="productImg">商品画像：</label>
        <input type="file" name="multipartFile" id="productImg">
        <div th:if="${product.productImg}">
          <input type="hidden" name="productImg" th:value="${product.base64Img}"><br>
          <img class="form-file-img" th:src="'data:image/png;base64,' + ${product.base64Img}">
        </div>
      </div>
    </div>
  </form>
  <form th:action="@{/product-delete}" method="post" th:object="${product}">
    <div class="btn">
      <input type="hidden" name="productID" th:value="${product.productID}">
      <input class="btn-delete-btn" type="submit" value="削除" onclick="return confirm('削除してよろしいですか？');">
    </div>
  </form>
  <form th:action="@{/product-list}" method="get">
    <div class="btn">
      <input type="submit" value="戻る" class="btn-goback-btn" onclick="return confirm('入力内容は保存されません。前画面に戻りますか？');">
    </div>
  </form>
</body>
</html>