<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/inventorycontrol.css}">
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<title>商品情報登録</title>
</head>
<body>
  <h3>商品情報管理システム</h3>
  <h2>商品情報登録</h2>
  <form th:action="@{/product-registration}" method="post" th:object="${product}" enctype="multipart/form-data">
    <div class="error-message">
      <ul th:if="${#fields.hasAnyErrors()}">
        <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
      </ul>
    </div>
    <div class="btn">
      <input class="submit-btn" type="submit" value="登録" onclick="return returnConfirm(0)">
    </div>
    <div class="form-input">
      <div class="form-input-box">
        <label>ジャンル：</label>
        <select name="genre">
          <option th:each="genreEnum : ${T(cooking.enums.GenreEnum).values()}" th:selected="${product.genre == genreEnum.key}" 
            th:value="${genreEnum.key}" th:text="${genreEnum.value}">
          </option>
        </select>
      </div>
      <div class="form-input-box">
        <label>メーカー：</label>
        <input type="text" th:field="*{maker}">
      </div>
      <div class="form-input-box">
        <label class="form-input-box-left">商品名：</label>
        <input type="text" th:field="*{productName}">
      </div>
      <div class="form-input-box">
        <label>販売価格：</label>
        <input type="text" class="form-input-box-price" th:field="*{sellingPrice}">
      </div>
      <div class="form-input-box">
        <label>商品説明：</label>
        <textarea th:field="*{productDetail}"></textarea>
      </div>
      <div>
        <label>商品画像：</label>
        <input type="file" name=multipartFile>
      </div>
    </div>
  </form>
  <button type="button" onclick="returnConfirm(3)" class="btn-goback-btn">戻る</button>
  <div class="user-info">
    <p>登録者：<span sec:authentication="principal.username"></span>
    <span>(
      <span th:each="authority : ${#authentication.getAuthorities()}"
         th:if="${authority.getAuthority().startsWith('ROLE_')}"
         th:text="${authority.getAuthority().replaceFirst('ROLE_', '')} + ' '">
      </span>)
    </span>
  </div>
  <form th:action="@{/logout}" method="post">
    <input class="btn-logout-btn" type="submit" value="ログアウト">
  </form>  
</body>
</html>