<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="cooking.entity.Product" alias="product" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/wbr_inventory_control" />
				<property name="username" value="testuser" />
				<property name="password" value="testuser" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="cooking/dao/ProductMapper.xml" />
	</mappers>  
</configuration>